<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" href="rezervari.component.css">-->
  <title>Booking Page</title>
</head>

<body>

<div class="imagine">
  <img src="assets/img.jpg">
</div>

<div class="test2">
  <div class="test" *ngFor="let fel of zboruri">
    <div class="food-item">
      <img src="assets/logo.jpg" alt="Flight Image">
      <div class="food-details">
        <h3 class="food-name">Nume: {{ fel.nume_companie }}</h3>
        <p class="food-description">Plecare: {{fel.orasdus}}</p>
        <p class="food-weight">Sosire: {{fel.destinatie}}</p>
        <p class="food-price">Pret: {{fel.pret_economy}}$</p>
        <!-- Add other details as needed -->
      </div>
    </div>
  </div>
</div>
</body>

</html>
<app-header></app-header>

